h1:hover{
    color: rgb(22, 243, 10);
}

h1 {
    color: red;
}

h2 {
    color: rgb(51, 0, 85);
}

img {
    width: 700px;
    height: 450px;
}

body {
    background-color: rgb(242, 229, 210);
}

h3 {
    color: blueviolet;
}
